body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ffe0ec, #fff7fa);
  min-height: 100vh;
}

/* LOCK PAGE */
.lock-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lock-box {
  background: white;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(255,105,180,0.25);
  width: 90%;
  max-width: 380px;
}

.lock-box h1 {
  color: #ff6fae;
}

.lock-box input {
  width: 100%;
  padding: 14px;
  border-radius: 25px;
  border: 1px solid #ffc1d9;
  margin: 15px 0;
}

.lock-box button {
  background: #ff6fae;
  border: none;
  color: white;
  padding: 14px 28px;
  border-radius: 25px;
  cursor: pointer;
}

#error {
  display: none;
  color: #ff4d6d;
}

/* SURPRISE */
.card {
  background: white;
  max-width: 500px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(255,105,180,0.3);
}

.card h1 {
  font-family: 'Playfair Display', serif;
  color: #ff6fae;
}

.card h2 {
  color: #ff85c1;
  font-weight: 400;
}

.text {
  font-size: 15px;
  color: #555;
  margin: 25px 0;
  line-height: 1.8;
  white-space: pre-line;
}

button {
  background: #ff85c1;
  border: none;
  color: white;
  padding: 14px 30px;
  border-radius: 30px;
  cursor: pointer;
}

/* MEMORY */
.photos {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 14px;
}

.memory {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  object-fit: cover;
  opacity: 0;
  transform: scale(0.9);
  transition: all 1.5s ease;
}

.memory.show {
  opacity: 1;
  transform: scale(1);
}

.hidden {
  display: none;
}

/* RESPONSIVE */
@media (min-width: 768px) {
  .card {
    max-width: 650px;
  }

  .memory {
    width: 120px;
    height: 120px;
  }

  .text {
    font-size: 16px;
  }
}
@keyframes floatUp {
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}