body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ffe0ec, #fff7fa);
  height: 100vh;
  overflow: hidden;
}

/* PASSWORD PAGE */
.lock-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lock-box {
  background: white;
  padding: 35px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(255,105,180,0.25);
}

.lock-box h1 {
  color: #ff6fae;
}

.lock-box input {
  width: 85%;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ffc1d9;
  margin: 15px 0;
}

.lock-box button {
  background: #ff6fae;
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}

#error {
  display: none;
  color: #ff4d6d;
  margin-top: 10px;
}

/* SURPRISE PAGE */
.card {
  background: white;
  max-width: 420px;
  margin: auto;
  margin-top: 50px;
  padding: 35px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(255,105,180,0.3);
  animation: fadeIn 2s ease;
}

.card h1 {
  font-family: 'Playfair Display', serif;
  color: #ff6fae;
}

.card h2 {
  color: #ff85c1;
  font-weight: 400;
}

.text {
  font-size: 14px;
  color: #555;
  margin: 25px 0;
  line-height: 1.7;
}

button {
  background: #ff85c1;
  border: none;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
}

.photos {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.photos img {
  width: 80px;
  height: 80px;
  border-radius: 18px;
  object-fit: cover;
}

/* ANIMASI */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; }
}

.heart {
  position: fixed;
  bottom: 0;
  font-size: 24px;
  animation: floatUp 4s linear forwards;
}

@keyframes floatUp {
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
